parameters:
    secret: bANZqVzrRh5jPw/xb6ID4lMZdjx9fmLCkOfCyrn9Krc=

    # customize the full path to external executables
    # normally they are auto-detected by `which program` or auto-discovered in the configured path in
    # System Settings -> General -> Additional $PATH variable
    # but in general it's a good idea to have your programs in your $PATH environment variable (system wide)

    #pimcore_executable_composer: php /opt/vendor/bin/composer.phar
    #pimcore_executable_html2text: /usr/local/html2text/bin/html2text
    #pimcore_executable_soffice: /opt/libreoffice/bin/soffice
    #pimcore_executable_gs: /opt/ghostscript/bin/gs
    #pimcore_executable_pdftotext: /opt/tools/pdftotext
    #pimcore_executable_xvfb-run: /opt/tools/xvfb-run
    #pimcore_executable_pngcrush: /opt/tools/pngcrush
    #pimcore_executable_zopflipng: /opt/tools/zopflipng
    #pimcore_executable_pngout: /opt/tools/pngout
    #pimcore_executable_advpng: /opt/tools/advpng
    #pimcore_executable_cjpeg: /opt/tools/cjpeg
    #pimcore_executable_jpegoptim: /opt/tools/jpegoptim
    #pimcore_executable_php: /usr/local/custom-php/bin/php
    #pimcore_executable_nice: /opt/tools/nice
    #pimcore_executable_nohup: /opt/tools/nohup
    #pimcore_executable_ffmpeg: /opt/tools/ffmpeg
    #pimcore_executable_exiftool: /opt/tools/exiftool
    #pimcore_executable_wkhtmltoimage: /usr/local/bin/wkhtmltoimage
    #pimcore_executable_timeout: /usr/bin/timeout
    #pimcore_executable_facedetect: /usr/bin/facedetect
    # graphviz
    #pimcore_executable_dot: /usr/bin/dot
    appdomain: '%env(APP_DOMAIN)%'

services:
    # default configuration for services in *this* file
    _defaults:
        # automatically injects dependencies in your services
        autowire: true
        # automatically registers your services as commands, event subscribers, etc.
        autoconfigure: true
        # this means you cannot fetch services directly from the container via $container->get()
        # if you need to do this, you can override this setting on individual services
        public: false
        bind:
            string $appdomain: '%appdomain%'
    #
    # CONTROLLERS
    #

    # auto-register all controllers as services
    App\Controller\:
        resource: '../src/Controller'
        public: true
        tags: [ 'controller.service_arguments' ]


    #
    # COMMANDS
    #

    # auto-register all commands as services
    App\Command\:
        resource: '../src/Command/*'
        tags: [ 'console.command' ]

    App\Command\PostUpdateCommand:
        arguments:
            $systemCsId: '%env(SYSTEM_CS_ID)%'
            $allegroCsId: '%env(ALLEGRO_CS_ID)%'

    # admin styles
    App\EventListener\AdminStyleListener:
        tags:
            - { name: kernel.event_listener, event: pimcore.bundle_manager.paths.css, method: addCSSFiles  }
            - { name: kernel.event_listener, event: pimcore.bundle_manager.paths.js, method: addJSFiles }
            - { name: kernel.event_listener, event: pimcore.admin.resolve.elementAdminStyle, method: onResolveElementAdminStyle }

    # services
    App\Service\:
        resource: '../src/Service'
        public: true

    App\MessageHandler\:
        resource: '../src/MessageHandler'
        public: true

    App\Service\GS1Service:
        arguments:
            $username: '%env(GS1_USERNAME)%'
            $password: '%env(GS1_PASSWORD)%'

    App\Service\SubiektGTService:
        arguments:
            $host: '%env(SGT_HOST)%'
            $port: '%env(SGT_PORT)%'

    App\Service\BrokerService:
        arguments:
            $host: '%env(MQ_HOST)%'
            $port: '%env(MQ_PORT)%'
            $user: '%env(MQ_USER)%'
            $pwd: '%env(MQ_PWD)%'
            $vhost: '%env(MQ_VHOST)%'

    App\Service\DeepLService:
        arguments:
            $apikey: '%env(DEEPL_APIKEY)%'
            $domRenew: '%env(DEEPL_DOM_RENEW)%'

    App\Service\AllegroService:
        arguments:
            $clientId: '%env(ALLEGRO_CLIENT_ID)%'
            $clientSecret: '%env(ALLEGRO_CLIENT_SECRET)%'

    App\Service\PrestashopService:
        arguments:
            $domain: '%env(PS_DOMAIN)%'
            $apikey: '%env(PS_APIKEY)%'

    # publishing
    App\Publishing\:
        resource: '../src/Publishing'
        public: true

    App\EventListener\ObjectListener:
        tags:
            - { name: kernel.event_listener, event: pimcore.dataobject.preUpdate, method: preUpdate }
            - { name: kernel.event_listener, event: pimcore.dataobject.postUpdate, method: postUpdate }
            - { name: kernel.event_listener, event: pimcore.dataobject.postAdd, method: postAdd }
            - { name: kernel.event_listener, event: pimcore.dataobject.preDelete, method: preDelete }

    # front auth
    factory.security.user_provider:
        class: Pimcore\Security\User\ObjectUserProvider
        arguments: ['App\Model\DataObject\User', "email"]

    factory.security.password_hasher_factory:
        class: Pimcore\Security\Hasher\Factory\UserAwarePasswordHasherFactory
        arguments:
            - Pimcore\Security\Hasher\PasswordFieldHasher
            - [ 'password' ]

    # twig
    App\Twig\BarcodeExtension:
        tags: ['twig.extension']

    App\Twig\KeyNameExtension:
        tags: ['twig.extension']

    App\Twig\SelectedLanguagesExtension:
        tags: ['twig.extension']

    App\Twig\IsNumericExtension:
        tags: ['twig.extension']

    # assets
    App\EventListener\AssetsListener:
        tags:
            - { name: kernel.event_listener, event: pimcore.asset.postAdd, method: postAddEvents }
            - { name: kernel.event_listener, event: pimcore.asset.postUpdate, method: postUpdateEvents }

    # Example custom templating helper
    # App\Templating\Helper\Example:
    #     # templating helpers need to be public as they
    #     # are fetched from the container on demand
    #     public: true
    #     tags:
    #         - { name: templating.helper, alias: fooBar }

    # Example event listener for objects
    # App\EventListener\TestListener:
    #     tags:
    #         - { name: kernel.event_listener, event: pimcore.dataobject.preUpdate, method: onObjectPreUpdate }
