<div class="row mt-2 mb-2">
    <div class="col-10">
        {% set p = "" %}
        {% if p != obj.path %}
            {% for item in obj.path|split("/") %}
                {% if loop.index > 1 %}
                    {% set p = p ~ "/" ~ item %}

                    {% if loop.last %}
                        <strong>{{ obj.key }}</strong>
                    {% else %}
                        {% set chunk = pimcore_object_by_path(p) %}
                        <a href="{{ path("factory_tree", {id: chunk.id}) }}">
                            {{ item }}
                        </a>
                        <span style="margin: 0 8px">
                            &#x2022;
                        </span>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div class="col-2 text-end">
        {% if style == 'list' %}
            <a href="?style=gallery">
                <div class="btn btn-small btn-outline-primary">
                    <img src="/bundles/pimcoreadmin/img/flat-color-icons/grid.svg" alt="grid view" height="20"/>
                </div>
            </a>
        {% else %}
            <a href="?style=list">
                <div class="btn btn-small btn-outline-primary">
                    <img src="/bundles/pimcoreadmin/img/flat-color-icons/list.svg" alt="list view" height="20"/>
                </div>
            </a>
        {% endif %}
    </div>
</div>